language: python
install:
- pip install -r requirements.txt
before_script:
- python manage.py migrate
- python manage.py collectstatic --noinput
script:
- black --check .
- flake8 .
- coverage run manage.py
after_success:
- coveralls

deploy:
  provider: elasticbeanstalk
  region: us-east-2
  access_key_id: $aws_secret_access_key
  secret_access_key: $aws_secret_key
  bucket_name: $aws_bucket_name
  app: INET-Wednesday-Spring2024-Team-1
  env: INET-Wednesday-Spring2024-Team-1-dev
  on:
    repo: gcivil-nyu-org/INET-Wednesday-Spring2024-Team-1
    branch: develop
  skip_cleanup: 'true'

